[2020-03-14 14:56] calca opened #1 "Init Mobile Project"
- App Ionic5
- Setup Account (apple / android)
- Setup Account Firebase https://firebase.google.com/

[2020-03-14 15:33] calca opened #2 "Branding Ufficiale - i 4 you"
Creazione Branding ufficiale :

- logo ( i 4 you)
- splah app
- banner / store

[2020-03-14 15:34] calca opened #3 "Mappa con le persone vicine che possono aiutare"
Visualizza come prima tab la mappa della posizione in cui mi trovo e le persone vicine che mi possono aiutare

[2020-03-14 15:35] calca opened #4 "Registrazione Aiutanti"
bottone registrazione aiutante

- nome
- cognome
- indirizzo
- contatto
- aiuto offerto ( farmacia, spesa, compania)

[2020-03-14 15:36] calca opened #5 "Store : configurazione store per il rilascio"
- Configurazione iOS @paolo
- Configurazione Andorid @calca

[2020-03-14 15:37] calca opened #6 "Contatta l'aiutante"
Contatta la persona disponbile (con il tipo di contatto messo a disposizione)

[2020-03-14 15:37] calca opened #7 "Ricerca per Altri"
funzionalità per ricerca persone anche non vicine (per aiuti in altra zona)

[2020-03-14 15:38] calca commented on #4
Utilizzo di provider esterni registrazione veloce (google/facebook..)

[2020-03-14 15:38] calca opened #8 "Creazione Lista della spesa"
lista della spesa condivisa con l'aiutante

[2020-03-14 16:06] calca commented on #1
- Account firebase creato e app (@citerad mi devi dare il tuo account google)
- Account play store e app creati
- Pages create
- Account Apple creato, da creare app

[2020-03-14 16:13] ammiratafabiano commented on #3
google maps?

[2020-03-14 16:28] calca opened #9 "Pagina Privacy e Cancella utente"
Pagina con

- info sulla privacy
- delete account

[2020-03-14 16:35] calca commented on #4
Un esempio di card
https://www.theguardian.com/world/2020/mar/14/coronavirus-campaign-launched-offering-help-to-those-self-isolating?CMP=Share_iOSApp_Other

![image](https://user-images.githubusercontent.com/78342/76686211-1bcfaf80-661a-11ea-8cb3-2aee0b8d8b40.png)

[2020-03-14 16:42] calca commented on #3
si direi di si, plugin di cordova/ionic ufficiale

[2020-03-14 16:42] calca commented on #3
chiediamo ad @Alfred l'icona

[2020-03-14 16:43] alfred commented on #3
?

[2020-03-14 16:45] citerad opened #10 "Configurazione Firebase"
Creare Firebase Prj

[2020-03-14 16:48] calca commented on #3
icona per la persona 'aiutente' sulla mappa di google maps

[2020-03-14 16:56] calca commented on #10
done, fatto. @citerad  sei amministratore. fanne buon uso

[2020-03-14 16:56] vitacito opened #11 "Pagina Privacy e Cancella utente - INTEGRATION TEST"

[2020-03-14 16:56] #10 closed

[2020-03-14 16:57] calca opened #12 "Devops: pipeline di build"
Build Automatiche per

- iOS
- Android

[2020-03-14 16:58] vitacito opened #13 "Mappa con le persone vicine che possono aiutare - INTEGRATION TEST"

[2020-03-14 16:59] vitacito opened #14 "Registrazione Aiutanti - INTEGRATION TEST"

[2020-03-14 16:59] vitacito opened #15 "Contatta Aiutante - INTEGRATION TEST"

[2020-03-14 16:59] vitacito opened #16 "Ricerca per Altri - INTEGRATION TEST"

[2020-03-14 17:00] vitacito opened #17 "Creazione Lista della Spesa - INTEGRATION TEST"

[2020-03-14 17:01] ammiratafabiano commented on #9
facciamo pagina a parte e poi la linkiamo da qualche parte oppure il terzo tab?

[2020-03-14 17:03] citerad opened #18 "Pagina di setting posizione aiutante"

[2020-03-14 17:05] citerad commented on #9
farei primo tab mappa, secondo settings terzo privacy  - delete @calca ?

[2020-03-14 17:17] il-picchio commented on #4
![image](https://user-images.githubusercontent.com/59490290/76686971-11b0af80-6620-11ea-9314-96ec7616af7d.png)

Una cosa così?

[2020-03-14 17:18] calca commented on #9
si va bene.

se facciamo la pagina dei settings, il bototne delete mettiamoli li (non ci avevo pensato).
Una modifica le sue opzione e un bel 'cancella il mio utente'

[2020-03-14 17:19] calca commented on #4
Si, dire perfetto così pe sprint 0

[2020-03-14 17:19] ammiratafabiano commented on #9
controproposta: primo tab visualizzazione mappa mappa, secondo tab visualizzazione lista, terzo tab settings e ci mettiamo diversi bottoni come info privacy e delete account

[2020-03-14 17:19] calca commented on #4
@Alfr3d un'inconcina carina da mettere in alto ;)

[2020-03-14 17:20] calca commented on #9
ok, @ammiratafabiano  mi piace. andiamo così per il primo giro

[2020-03-14 17:21] vitacito commented on #9
nel settings ci mettiamo anche logout global app style :D

[2020-03-14 17:22] calca commented on #9
@vitacito  giusto, anche il logout (usato pochissimo) @ammiratafabiano  aggiungilo ai bottoni del tab settings (come da proposta Ui di @il-picchio )

[2020-03-14 17:35] ammiratafabiano commented on #9
yes! per sprint 0 che facciamo con scritte dentro le pagine? scritte direttamente? italiano?

[2020-03-14 17:38] calca commented on #9
ho una amico che ci farebbe la versione inglese. la vedi difficile per lo sprint 0 ?

[2020-03-14 17:44] ammiratafabiano commented on #9
ci provo, mi metto all'opera, quindi mi sto occupando di tab3 e translateConfig

[2020-03-14 17:46] calca opened #19 "Packages name"
@citerad  nome dei pacchetti org.okja.mobile

[2020-03-14 17:55] ammiratafabiano opened #20 "gestione lingue con relativi testi"

[2020-03-14 18:14] citerad opened #22 "Creare App FB per Login TPP"

[2020-03-14 18:24] calca commented on #9
@ammiratafabiano @il-picchio  ha iniziato in un branch

[2020-03-14 18:39] calca commented on #22
facebook attached

[2020-03-14 18:39] #22 closed

[2020-03-14 18:39] vitacito commented on #16
https://github.com/okja-team/okja/projects/1#column-8324760

[2020-03-14 19:20] Alfr3d commented on #2
Idea LOGO e Icona per app Android
![logo](https://user-images.githubusercontent.com/1813054/76688863-234e8300-6631-11ea-804a-11c95fe0f5c3.png)

[2020-03-14 19:27] calca commented on #9
[avviso_VOLONTARI.stamped.pdf](https://github.com/okja-team/okja/files/4333252/avviso_VOLONTARI.stamped.pdf)

Questo il volontano del mio comune per la gestione della responsabilità, prendiamo spunto da li

[2020-03-14 19:33] calca commented on #2
logo approvato.  (anche i colori)

Lavoriamo sul fonto della scitta e la palette colore per l'app da dare al team di @citerad

[2020-03-14 19:34] Alfr3d commented on #2
Arrivano altre proposte FONT for logo App. Il font per la UI e la UX la scelgo di seguito.

[2020-03-14 19:40] calca commented on #2
@Alfr3d  scaricati il repo, e creare nella root assest/ con tutto il materiale

[2020-03-14 19:48] Alfr3d commented on #2
Font per il logo > https://fonts.google.com/specimen/Nothing+You+Could+Do
![logo](https://user-images.githubusercontent.com/1813054/76689330-16339300-6635-11ea-8f38-c01b44200624.png)

[2020-03-14 19:55] calca opened #24 "Sito Desktop / Mobile"
Sito Desktop / Mobile

[2020-03-14 20:21] Alfr3d commented on #2
Pensavo ad uno splash del genere.
![Splash](https://user-images.githubusercontent.com/1813054/76689781-ad024e80-6639-11ea-9756-26522fb39ce1.png)

[2020-03-14 20:21] PaolinoD commented on #19
@calca evito di creare provisioning o inizio a usare questo?

[2020-03-14 20:55] calca commented on #2
Si perfetta, essenziale e pulita.

[2020-03-14 20:57] calca commented on #19
si. quello è il nome del pacchetto. facciamo la verifica di quanto ci siamo detti ed usiamolo come packageId

[2020-03-14 20:58] il-picchio commented on #4
tema chiaro

![image](https://user-images.githubusercontent.com/59490290/76690283-d5407c00-663e-11ea-8bea-43f2c128029f.png)

tema scuro

![image](https://user-images.githubusercontent.com/59490290/76690292-e38e9800-663e-11ea-839e-f0e40583d631.png)

[2020-03-14 20:58] il-picchio commented on #4
per tornare indietro abbiamo già un'idea se mettere un header fixed on top o un pulsante sotto "registrati" tipo "torna indietro" ?

[2020-03-14 21:11] calca commented on #4
mettiamo un 'non ora', e torna indietro

[2020-03-14 21:11] calca commented on #4
tema chiarmo molto bello. per lo scuro non c'è lo swithc dell'immagine ?

[2020-03-14 21:18] calca opened #26 "Copywriting"
Dobbiamo Preparere i seguenti testi

Descrizione Breve (sito e store)
Descrizione Estesta (sito e store)
Privacy

lingue IT/EN

[2020-03-14 21:24] il-picchio commented on #4
lo switch lo aggiungo volentieri ma avrei bisogno di un'altra immagine @Alfr3d ;)

[2020-03-14 21:25] calca commented on #26
@robertogarbero usiamo questo thread per produrre il contenuto

[2020-03-14 21:25] calca commented on #26
[avviso_VOLONTARI.stamped.pdf](https://github.com/okja-team/okja/files/4333361/avviso_VOLONTARI.stamped.pdf)

[2020-03-14 21:27] calca commented on #26
Da prendere spunto

--
Verificata la richiesta di spesa a domicilio di persone con necessità e che sul territorio comunale è istituito l’albo dei volontari civici.

Si richiede la disponibilità di cittadini, nella fascia di età tra i 18 anni e i 64 anni, disponibili ad effettuare il servizio di consegna spesa a domicilio, rigorosamente da lasciare all’esterno dell’abitazione senza contatto tra

[2020-03-14 21:30] calca commented on #4
è qui per noi :D

[2020-03-14 21:30] calca commented on #4
per il resto direi che come primo giro è buono. @citerad  ?
La parte importante di questa pagian è il picker della posizione. c'è già qualcosa che possiamo utilzizare ?

[2020-03-14 21:39] il-picchio commented on #4
qualcosa del genere? https://www.gianlucaghettini.net/ricerca-localita-completamento-automatico-google-api/

[2020-03-14 21:46] calca commented on #4
non esiste un picker ?

[2020-03-14 21:53] calca commented on #4
https://www.joshmorony.com/location-select-page-with-google-maps-and-ionic/

forse per ora conviene stare su questo

[2020-03-15 06:25] Alfr3d commented on #4
@il-picchio
![BisognoAiuto_black](https://user-images.githubusercontent.com/1813054/76696642-11e79400-668e-11ea-86cf-63db00998c44.png)

[2020-03-15 06:34] Alfr3d commented on #3
![maps_help_icon](https://user-images.githubusercontent.com/1813054/76696787-64758000-668f-11ea-9d58-5458e1c425f0.png)

[2020-03-15 06:38] Alfr3d commented on #3
O questa che enfatizza dai colori il bisogno di aiuto

![maps_help_icon_2](https://user-images.githubusercontent.com/1813054/76696825-e5cd1280-668f-11ea-87c8-03ec70f1f8cf.png)

[2020-03-15 06:45] Alfr3d commented on #2
Logo no claim.
![logo_no_claim](https://user-images.githubusercontent.com/1813054/76696924-eade9180-6690-11ea-9131-803a39de2d4d.png)

[2020-03-15 07:03] Alfr3d commented on #2
Claim no logo
![claim_no_logo_bw](https://user-images.githubusercontent.com/1813054/76697138-6b9e8d00-6693-11ea-9ac1-12d2b0b53b8c.png)
![claim_no_logo](https://user-images.githubusercontent.com/1813054/76697139-6c372380-6693-11ea-8bcb-2ccc79b36a45.png)

[2020-03-15 07:35] calca commented on #2
bene!

[2020-03-15 07:36] calca commented on #3
ci sta. Ce ne serve una anche per chi dona aiuto :)

[2020-03-15 08:06] Alfr3d commented on #2
Fatto commit con gli assets in svg di cui sopra. Inoltre creata anche favicon.

[2020-03-15 10:21] calca opened #30 "Docs: Configurazione app per rilascio da parte dell'ente"
Guida di come effettuare il setup in modo che l'ente possa rilasciare l'app in autonomia
(probabilemte pwa su firebase)

[2020-03-15 10:45] calca commented on #2
@Alfr3d  se puoi, anche una cartella assets/ nella root con gli elementi PNG da utilizzare fuori dall'app (app store, sito ecc.. ) grazie

[2020-03-15 10:53] calca commented on #26
_Prima Traccia_

**Descrizione Breve**
I for you ti permette di donare il tuo tempo a chi ne ha necessità

**Descrizione Estesta**
I for you è un'applicazione che consente di mettere in contatto, in maniera facile e veloce, persone che possono offrire supporto pratico, in questo momento di emergeza, a coloro che hanno più bisogno, che si trovano in difficoltà o che sono da soli.

[2020-03-15 11:21] Alfr3d commented on #3
Si, stavo cercando anche

[2020-03-15 11:22] calca commented on #26
Esempio di Privacy
[Privacy-Policy-di-un-Sito-Web-o-di-un'App.pdf](https://github.com/okja-team/okja/files/4334092/Privacy-Policy-di-un-Sito-Web-o-di-un.App.pdf)

[2020-03-15 11:53] citerad opened #31 "GoogleMaps API Keys"

[2020-03-15 12:15] Alfr3d commented on #31
Si può anche pensare di usare altre librerie qualora dovessimo comprare licenza

[2020-03-15 12:17] Alfr3d commented on #26
Privacy generator: https://www.iubenda.com/en/

[2020-03-15 12:28] Alfr3d commented on #3
![help_you](https://user-images.githubusercontent.com/1813054/76701369-d619f200-66c0-11ea-83ed-a35b9d299a91.png)

[2020-03-15 12:33] ammiratafabiano opened #32 "Visualizzazione lista tab2"
Lista di card degli aiutanti. Cliccando sulla card si andrà su una pagina dell'aiutante che sarà la stessa di quando si clicca sull'anteprima che spunta nella visualizzazione mappa. Filtri basic per ordinamento e tipologie di aiuto.

[2020-03-15 12:36] ammiratafabiano opened #33 "Anteprima card tab1"
Al click del picker si visualizza in basso una card float style che abbia le stesse informazioni delle card nel tab2. Cliccando sulla card si atterra nella pagina dell'aiutante.

[2020-03-15 12:37] calca commented on #3
ok, ci siamo

[2020-03-15 12:38] calca commented on #31
partiamo con Google maps. capiamo poi se passare ad openstreet

[2020-03-15 13:26] falconeta opened #34 "sezione profile - salvataggio dati mancanti"

[2020-03-15 13:45] calca opened #35 "Beta Badge"
@Alfr3d ci servirebbe la fascia Beta per il lancio

[2020-03-15 13:50] ammiratafabiano commented on #32
@calca posso procedere con issue #32 e #33 ?

[2020-03-15 14:20] Alfr3d commented on #35
Odio le fasce beta...danno poca professionalità!
Anche se lo siamo non la mettiamo. I bug ci sono anche nelle app normali.

[2020-03-15 14:20] il-picchio commented on #4
Quando si imposta il profilo "in bisogno di aiuto" si deve anche specificare di cosa si ha bisogno o si decide volta per volta?

[2020-03-15 14:20] calca commented on #31
per ora google mi ha dato 300$ per un anno, partiamo con l'MVP nel caso cambiamo provider di mappe (openstreetmaps)

[2020-03-15 14:21] calca commented on #32
Si, va bene. perfetto Usiamo le cards di ionic 5. @Alfr3d  ci serve un header umano quando @ammiratafabiano  ci posta l'anteprima

[2020-03-15 14:22] calca commented on #33
perfetto, mi piace.

[2020-03-15 14:33] Alfr3d commented on #2
Logo da usare per lo splash. Importo anche il font così usiamo solo l'immagine vettoriale.
![logo_for_splash](https://user-images.githubusercontent.com/1813054/76703485-454c1200-66d2-11ea-83bc-238279525cdf.png)

[2020-03-15 15:06] calca commented on #35
ok ;)

[2020-03-15 15:06] #35 closed

[2020-03-15 15:07] calca commented on #4
il mio dubbio, che non tutte le persone vorranno mettere 'ho bisogno di aiuto'. Cmq si, anche si cosa ha bisogno, così una persona può aiutarla

[2020-03-15 15:09] il-picchio commented on #4
Quindi una persona può sia essere bisognosa che aiutante?

[2020-03-15 15:13] calca commented on #4
starei sul facile, stato esclusivo. o bisognosa o aiutante

[2020-03-15 15:18] calca commented on #31
https://www.mapbox.com/pricing/

[2020-03-15 15:28] #34 closed

[2020-03-15 15:39] alfredarcifa commented on #2
@calca con un tool sono riuscito a creare splash e ico per android e ios
Non sono i migliori splash e ico ma intanto li ho uploadati committati e pushati

https://apetools.webprofusion.com/#/tools/imagegorilla

[2020-03-15 15:42] calca commented on #2
bene, ci sta per l'mvp!

[2020-03-15 16:05] il-picchio commented on #4
ok allora se tiriamo dentro a parte il selettore di posizione (che crco di fare entro serata) la pagina è pronta

[2020-03-15 16:08] il-picchio commented on #4
ok allora a parte il selettore di posizione (cerco entro sera) e qualche ritocco dovrebbe essere pronta, se tiriamo dentro riusciamo a fasarci meglio

[2020-03-15 16:19] calca commented on #4
senti @citerad che lo stava integrando

[2020-03-15 16:30] alfredarcifa commented on #2
in root dir creata cartella assets

root
|_ devDocs
|_ docs
|_ mobile
|_ assets

[2020-03-15 16:49] falconeta opened #44 "implementazione plugin per login con google"

[2020-03-15 16:54] calca commented on #44
che dite (@citerad) di utilizzare solo provider ? Google / Facebook e rimuovere la registrazione. lo vedete come un problema ?

[2020-03-15 16:56] citerad commented on #44
@calca sono d'accordo, va creata un app per ogni provider...per ora lasciamo quella manuale per fare i test

[2020-03-15 16:59] calca commented on #44
ok, poi li creo per i principali. iniziamo con Google e Facebook

[2020-03-15 17:16] alfredarcifa commented on #32
@ammiratafabiano fammi sapere

[2020-03-15 17:17] ammiratafabiano commented on #32
@Alfr3d tra un po pusho nel branch feature/cards la versione attuale e ti lascio il testimone

[2020-03-15 17:25] ammiratafabiano commented on #32
Fatto! Fammi sapere che ne pensi

[2020-03-15 17:26] #31 closed

[2020-03-15 17:27] #1 closed

[2020-03-15 17:27] ammiratafabiano commented on #32
PS: ho salito anche il mock così non devi fartelo anche tu, ovviamente poi togliamolo quando si sale in develop

[2020-03-15 17:35] il-picchio commented on #44
Che ne pensate di una login così (ci sarebbero i loghi da sistemare in caso ;) )?

![image](https://user-images.githubusercontent.com/59490290/76706952-b3e99980-66eb-11ea-898f-a35156b51d51.png)

![image](https://user-images.githubusercontent.com/59490290/76706962-c663d300-66eb-11ea-905f-341fcd6d5ffd.png)

[2020-03-15 17:40] calca commented on #44
direi di sì, mettiamo un Accedi ed il testo del volontario qui? @@alfred immaginetta ?

[2020-03-15 17:40] il-picchio commented on #44
Il testo del volontario?

[2020-03-15 17:51] alfredarcifa commented on #32
Mi dava errore in fase di compilazione, mancava la libreria:
"@ionic-native/call-number": "^5.22.0",

@ammiratafabiano mò do un occhio.

[2020-03-15 17:51] calca commented on #44
sì, c'è la issue. per ora mettiamo un testo semplice

[2020-03-15 18:36] il-picchio commented on #4
@citerad forse è meglio integrarlo e lavorare tutti sulla stessa cosa ;) pensavo di doverlo fare io essendomi assegnato la parte di registrazione

[2020-03-15 18:58] robertogarbero commented on #26
Descrizione Breve
I for you ti permette di donare il tuo tempo a chi ne ha necessità.

EN
With 'I for you' you can give some of your spare time to the people who need it most.

Descrizione Estesa
'I for you' è un'applicazione che consente di mettere in contatto, in maniera facile e veloce, persone che possono offrire supporto pratico, in momenti di emergenza, a coloro che hanno più bisogno, che si

[2020-03-15 19:02] citerad opened #47 "Centrare mappa su pin"

[2020-03-15 19:50] citerad opened #48 "Demo mock"

[2020-03-15 20:01] ammiratafabiano commented on #32
Va bene va bene! Fammi sapere :)

[2020-03-15 20:05] calca commented on #26
@robertogarbero  grazie mille per ora!

[2020-03-15 20:12] calca commented on #26
@falconeta  inseriamo le 'info' nella pagina di login/registrazione ?

[2020-03-15 20:24] calca opened #49 "Presentazione App 'I for you'"
Definire una lettera di presentazione per

- presentazione : gruppo di sviluppatori
- progetto : opensource che
- l’ente di può configurare
- cosa fa l’app : permette alla persone di registrarsi per mettersi a disposizione a chi ne ha bisogno

[2020-03-15 21:29] mariagrazia1992 commented on #49
I for you!
Se è vero che per fare la nostra parte sarebbe sufficiente restare a casa, è inevitabile chiedersi se esistano altri modi per contribuire ad uscire dall'emergenza.
Siamo un gruppo di sviluppatori, possiamo e vogliamo fare di più.
Insieme, ognuno da casa propria, abbiamo creato un'applicazione per aiutare ad assistere chiunque ne abbia bisogno: ogni persona che lo vorrà, potrà registrars

[2020-03-15 21:30] mariagrazia1992 commented on #49
non so se vogliamo mettere un numero di telefono, una mail da contattare, una demo o altro

[2020-03-15 21:39] #11 closed

[2020-03-15 21:39] #14 closed

[2020-03-15 21:39] #15 closed

[2020-03-15 21:39] #16 closed

[2020-03-15 21:39] #17 closed

[2020-03-15 21:39] #13 closed

[2020-03-15 21:41] #3 closed

[2020-03-15 21:41] #4 closed

[2020-03-15 21:41] #18 closed

[2020-03-15 21:42] #2 closed

[2020-03-15 21:42] #19 closed

[2020-03-15 21:42] #20 closed

[2020-03-15 21:43] robertogarbero commented on #26
Piccola correzione nelle info:
EN
If you are between 18 and 64 years old, you can provide your local community with any kind of support - for instance, grocery home delivery. As a volunteer, you can share _your_ spare time and skills to respond to any needs in your community and promote targeted social support when and where it is needed.

[2020-03-15 22:28] ammiratafabiano opened #51 "Filtro tab2"
Implementazione filtro su distanza e su tipologia aiuto

[2020-03-16 18:49] citerad opened #52 "Ottimizzazione Login"
Inserire le varie tipologie di login social.
Alla prima login avvenuta con successo bisognerà:
- recuperare i dati restituiti (dati utente) e pre-popolare il profilo (app + msite)
- fare in modo che il login non venga più richiesto (anche dopo aver killato l'app), se non effettuando un logout (app)
- atterrare sulla pagina del profilo se è la prima login, in mappa (tab 1) altrimenti
- rimuovere la

[2020-03-16 19:04] citerad opened #53 "Sezione Profilo"
Per la sezione del profilo bisognerà:

- inserire correttamente i binding tra il model del profilo e la pagina dedicata
- utilizzare l'enum RoleType con mappatura adeguata per visualizzare l'elenco dei possibili aiuti
- inserire uno swith/tab per passare dalla modalità helper alla modalità non helper dove:
** la modalità helper visualizzerà all'interno del profilo oltre ai dati utente e in cosa pu

[2020-03-16 19:09] citerad opened #54 "Tab Mappa"
Ad ogni atterraggio sulla pagina la mappa dovrà essere refreshata.
Il centro della mappa dovrà essere riposizionato per consentire la visualizzazione di tutti i pin restituiti dal servizio.
Al tap su un pin dovrà aprirsi una card che mostra le informazioni dell'helper (con la possibilità di contattarlo).
La pagina dovrà contenere un bottone per consentire la modifica del profilo

[2020-03-16 19:12] citerad opened #55 "Position Piker"
La pagina deve dare la possibilità all'utente di selezionare la sua posizione tramite le principali modalità:
- Inserimento indirizzo
- individua la mia posizione

Utilizzare il metodo di reverse geocoding per individuare l'indirizzo da visualizzare all'utente

Rivisitazione UI

[2020-03-16 19:19] citerad opened #56 "Lista helper vicini"
Creare una pagina in cui è possibile vedere gli helper in lista (e non in mappa).
Ordinare gli helper in base alla distanza rispetto alla propria posizione

[2020-03-16 19:41] calca commented on #56
Ciao, @ammiratafabiano  ha già un protipo. @ammiratafabiano  riporto qui lo screen che hai condiviso
![image_from_ios](https://user-images.githubusercontent.com/78342/76793827-12834600-67c6-11ea-9468-e54b59956590.png)

Primi feedback:

- A IU l'helper è un 'Volontario'
- Per filtro di tiplogia farei 3 icone con le categorie più importanti. (poi un pulsante tipo morre per quando avremo più categori

[2020-03-16 22:19] gaiamerico commented on #52
Ciao posso dare una mano qua :)

[2020-03-17 08:56] alfredarcifa commented on #49
![BannerI4You](https://user-images.githubusercontent.com/1813054/76839307-932d5b00-6835-11ea-888a-86d0932b16cf.png)

[2020-03-17 17:47] alfredarcifa commented on #49
![IforYou_App_iphone11](https://user-images.githubusercontent.com/1813054/76885618-cd234f00-687f-11ea-92ca-79ada4cf36bc.jpg)

[2020-03-17 18:44] gianlu92 commented on #54
Sviluppi iniziati sul branch Issue-54-tab-mappa
![image](https://user-images.githubusercontent.com/62199681/76890349-7e79b300-6887-11ea-8051-6753eefb7d91.png)

[2020-03-17 18:52] gianlu92 commented on #54
Per contattare si intende il poter chiamare direttamente da app o che apre un'altra schermata?

[2020-03-17 19:04] calca commented on #54
altra app. l'utente inserirà Cell, skypid .. demandiamo alle app standard il contato tra le persone

[2020-03-17 19:34] Alfr3d commented on #52
![Page_login](https://user-images.githubusercontent.com/1813054/76894605-c05a2780-688e-11ea-91ac-7a4af137034c.png)

[2020-03-17 21:20] calca commented on #56
@Alfr3d  UI :D

[2020-03-17 21:21] calca commented on #54
se possibile togliere anche l'header del tab,  fullscreen la mappa e solo i 3 switch

[2020-03-17 21:25] calca commented on #52
@il-picchio  sta sistemano la UI di login #58. Lavorerei sullo stesso branch

[2020-03-17 22:57] citerad opened #61 "Integrazionne Login Facebook"

[2020-03-17 23:01] falconeta opened #62 "implementazione guardie per pagine post login"

[2020-03-17 23:11] citerad commented on #62
👍

[2020-03-17 23:30] ammiratafabiano commented on #56
In attesa di review da parte di @Alfr3d ho fatto alcune modifiche in base al tuo feedback.
![localhost_8100_home_tabs_tab2(iPhone X) (1)](https://user-images.githubusercontent.com/36988217/76910891-8ea58880-68af-11ea-80e8-f188a2875ce3.png)
![localhost_8100_home_tabs_tab2(iPhone X)](https://user-images.githubusercontent.com/36988217/76910898-91a07900-68af-11ea-8579-c716e136f4be.png)

[2020-03-18 07:06] calca commented on #56
@ammiratafabiano  il tuo branch è allineato ? @citerad  si può iniziare ad insere la lista dei vicini in attesa di nuova UI ?

[2020-03-18 08:09] gianlu92 commented on #54
Ok quindi immagino che in base a quale informazione di contatto l'utente abbia messo si apriranno varie app (dialer se ha valorizzato il numero di telefono, skype se ha valorizzato SkypeId ecc).
Corretto?

[2020-03-18 08:13] citerad commented on #54
Verranno mostrate tutte le tipologie di contratto inserire dall'helper. In base alla tipologia tappata da chi richiede aiuto si aprirà l'app corrispondente.

[2020-03-18 08:20] calca commented on #54
si, per la prima versione starei su numero di cell e skype per video chiamata, poi estendiamo

[2020-03-18 08:33] alfredarcifa commented on #53
Ho rivisto la UI del PROFILE PAGE.
Il flow prevede due step.

![Page_profile](https://user-images.githubusercontent.com/1813054/76940988-8115f000-68fb-11ea-85dc-fc97f6c0d2b2.png)

[2020-03-18 09:00] calca commented on #53
punti di attenzione:

- contatti: non è solo telefono. per fase 1 phone e skype
- aiuti: anche una chatta/telefonata/videocall di supproto

@citerad  la location è obbligatoria ?

[2020-03-18 09:40] alfredarcifa commented on #53
ma direi che con whatsapp ormai copri sia le chat che i video. Skype lo ometterei.

[2020-03-18 09:55] calca commented on #53
magari qualcuno non vuole condividere il proprio cell ed allora è contatabile con skype o fb messanger

[2020-03-18 09:57] alfredarcifa commented on #56
@calca prossimo mock che farò riguarda questa view. Prima mock, poi review :D

[2020-03-18 09:58] calca commented on #56
Sì sì, giusto ;)

[2020-03-18 12:30] ammiratafabiano commented on #56
@calca mi sono appena allineato, faccio la pull request così teoricamente basta che dopo la review accettate e si auto mergia

[2020-03-18 12:31] calca commented on #56
@citerad a te

[2020-03-18 16:14] Paul7285 opened #64 "Help wanted"
I need help on hoe githup works

[2020-03-18 16:49] calca commented on #64
Hi Paul, okja it's an OSS project and we user github for everything.
Start from https://help.github.com/en :D

[2020-03-18 16:49] #64 closed, assigned to nobody

[2020-03-18 17:28] calca opened #65 "Support for local business"
Local business can register it self on "I for you" to help people to find groceries

[2020-03-19 14:06] alfredarcifa commented on #53
It is useful for me to have a gender selection.
For example, if I am an older woman, a helper woman has more confidence than a male person.

[2020-03-19 18:31] Alfr3d commented on #56
I thinks this. We need to understand the menu items in the footer
![Mobile - Page - Helpers](https://user-images.githubusercontent.com/1813054/77101712-08f11c80-6a18-11ea-87c4-95f09dd71fdd.png)

[2020-03-19 21:12] citerad commented on #53
la location dovrebbe essere obbligatoria per gli helper, altrimenti non si riesce a definire la distanza.
al massimo si potrebbe pensare di inserire un flag per nasconderla dalla mappa ma lasciare comunque l'helper visibile nella lista (se disponibile)

[2020-03-19 21:19] citerad commented on #56
@ammiratafabiano

<sub>[View in Slack](https://okja-team.slack.com/archives/C0108CJNM24/p1584642634013500)</sub>

[2020-03-19 21:30] calca commented on #53
ok, flag privacy per la location in sprint 2 , #67

[2020-03-19 21:31] calca opened #67 "Location Privacy"
Don't show location on map but list people by distance

[2020-03-19 21:49] calca commented on #56
@Alfr3d can you share update for the UI ?

[2020-03-20 10:16] alfredarcifa commented on #56
<sub>[View in Slack](https://okja-team.slack.com/archives/C0108CJNM24/p1584647248015400)</sub>

[2020-03-20 10:17] alfredarcifa commented on #56
![Mobile - Page - Helpers](https://user-images.githubusercontent.com/1813054/77154629-5d3de000-6a9c-11ea-847e-dfc007c37556.png)

[2020-03-20 12:40] calca commented on #12
Pipeline https://dev.azure.com/okja-team/okja

[2020-03-21 11:31] calca commented on #12
- Pipeline Android v1 : done
- AppCenter for Android : done

[2020-03-21 12:22] ammiratafabiano commented on #56
@calca ma quindi devo tornare indietro al radio button?

[2020-03-21 12:28] calca commented on #56
Sì. Seguiamo la UI del nostro UXer. Dicevo a che per la V1 possiamo disabilitare i filtri

[2020-03-21 14:27] #53 closed, assigned to il-picchio

[2020-03-21 14:52] ammiratafabiano commented on #56
![localhost_8100_home_tabs_filter-profile(iPhone X)](https://user-images.githubusercontent.com/36988217/77229085-eed84b00-6b8b-11ea-9694-f243cee0c83d.png)
Sta venendo così, stasera continuo un altro po mettendo i colori della palette di Alfred

[2020-03-21 15:02] calca commented on #56
ok, riesci a far PR così @citerad  comincia a portarla dentro. ? grazie

[2020-03-21 15:03] calca commented on #56
@Alfr3d  possiamo fornire qui tutti gli assets necessaria @ammiratafabiano  ?

[2020-03-21 15:09] ammiratafabiano commented on #56
avevo già fatto la PR, ora mi sono pure allineato con develop, serve altro per far si che @citerad  possa accettarla?

[2020-03-21 15:12] calca commented on #56
ora fa review ;)

[2020-03-21 18:28] alfredarcifa commented on #56
@ammiratafabiano here :
[assets.zip](https://github.com/okja-team/okja/files/4363644/assets.zip)

[2020-03-21 19:10] ammiratafabiano commented on #56
@Alfr3d le piazzo direttamente dentro la cartella icon?

[2020-03-21 19:23] ammiratafabiano commented on #56
@citerad il servizio per il mock funziona?

[2020-03-21 21:06] citerad commented on #56
@ammiratafabiano  appena ggiunti 1000 utenti

[2020-03-21 21:38] alfredarcifa commented on #56
Yep

On Sat, 21 Mar 2020 at 8:10 PM, ammiratafabiano <notifications@github.com>
wrote:

--
__

Cordiali Saluti

Alfred Arcifa

[2020-03-22 02:30] ammiratafabiano commented on #56
![localhost_8100_home_tabs_tab1(iPhone X)](https://user-images.githubusercontent.com/36988217/77241028-52df2b80-6bed-11ea-832a-45519c203d05.png)
Al momento è questa la situazione, domani faccio il merge con develop e continuo un altro po'!

[2020-03-22 02:31] ammiratafabiano commented on #56
PS: la lista è filtrata realmente mettendo massimo 5km e usando la posizione dell'utente

[2020-03-22 08:39] calca commented on #12
Pipeline WebSite v1 : done

Publish to beta website https://beta.iforyou.app : done

[2020-03-22 08:40] #12 closed

[2020-03-22 10:31] citerad opened #70 "FilterProfilePage UI"
- Complete UI for available profiles and filters.
- Check correct operation of the applied filters

![Mobile - Page - Helpers](https://user-images.githubusercontent.com/5503000/77247338-6b246a00-6c30-11ea-8745-c26396a33949.png)

[2020-03-22 10:34] citerad opened #71 "ActiveProfilePage UI"
- Complete UI.
- Replace the card with ionic-action-sheet or modal.
- Insert profile picture at the top right

![Mobile - Page - Maps HELPER](https://user-images.githubusercontent.com/5503000/77247385-fe5d9f80-6c30-11ea-9738-b01fac9e560e.png)

[2020-03-22 10:35] gaiamerico commented on #61
ci do un occhio! :)
@falconeta su develop hai già portato la login con Google?

[2020-03-22 10:39] citerad opened #72 "ProfilePage - OnBoarding UI"
Complete the profile UI

![Mobile - Page - Profile](https://user-images.githubusercontent.com/5503000/77247424-7b891480-6c31-11ea-8d5e-e721a06b1297.png)

[2020-03-22 10:43] citerad opened #73 "Contact plugin FIX"
Fix the button that allows the user to be able to call or contact the helper.
Open dialer
Open app

[2020-03-22 10:43] ammiratafabiano commented on #56
Ieri notte non mi ero accorto che ho messo uno screen con un alone azzurro del puntatore dell’ispector di chrome.. Ops ahaha

[2020-03-22 10:51] falconeta commented on #61
yes

[2020-03-22 11:42] calca commented on #72
@Alfr3d ci sono gli asset di questi ?

[2020-03-22 11:43] calca commented on #71
- TabBar v1 : done
- UserBadge v1 : done (static image)

[2020-03-22 12:22] calca commented on #61
Grazie!

[2020-03-22 12:36] #71 closed, assigned to calca, gianlu92

[2020-03-22 12:41] ammiratafabiano commented on #56
![localhost_8100_home_tabs_filter-profile(iPhone X) (1)](https://user-images.githubusercontent.com/36988217/77249624-d70fce00-6c42-11ea-8f64-1a4859a83c9d.png)

[2020-03-22 14:20] ghost commented on #56
Ok

Mariola Tarasiuk

[2020-03-22 17:20] ammiratafabiano commented on #56
![localhost_8100_home_tabs_filter-profile(iPhone X) (3)](https://user-images.githubusercontent.com/36988217/77255710-c32b9280-6c69-11ea-8b72-a3c0e1acdf88.png)
![localhost_8100_home_tabs_filter-profile(iPhone X) (4)](https://user-images.githubusercontent.com/36988217/77255712-c45cbf80-6c69-11ea-9a11-f45759ea0cab.png)

[2020-03-22 17:21] ammiratafabiano commented on #56
Ho implementato il filtro per distanza, rimane per availability

[2020-03-22 17:21] calca commented on #56
@ammiratafabiano  mi sa che ti devi allineare a developo ;) possiamo arrotondare la distanza ? magari di 500m  ..

[2020-03-22 17:22] ammiratafabiano commented on #56
si ho visto, ho diversi conflitti, con chi posso parlare per risolverli al meglio?

[2020-03-22 17:23] ammiratafabiano commented on #56
per arrotondare a 500m intendi che 5340m devono essere 5500m oppure 5,5km?

[2020-03-22 17:26] calca commented on #56
no, intendo se l'utnete è vicino a te per 456m mettiamo a circa 500m, se  12345m , mettiamo circa 1,5 km

[2020-03-22 17:26] calca commented on #56
dove hai i problemi più grossi ?

[2020-03-22 17:29] ammiratafabiano commented on #56
penso sia un problema con il caricamento delle pagine, moduli..

[2020-03-22 17:29] ammiratafabiano commented on #56
è cambiato il modo di navigare nei tab no?

[2020-03-22 17:30] calca commented on #56
si, ho camibato i nomi dei tab, impostata la mappa come entry principale

[2020-03-22 17:35] ammiratafabiano commented on #56
hai fatto qualcosa al filter profile module?

[2020-03-22 17:40] calca commented on #56
mi pare di no

[2020-03-22 17:42] ammiratafabiano commented on #56
<img width="1440" alt="Schermata 2020-03-22 alle 18 42 06" src="https://user-images.githubusercontent.com/36988217/77256187-e3108580-6c6c-11ea-8c1f-6e0fb41b2245.png">
Ad ogni modo, tu cosa faresti?

[2020-03-22 17:43] ammiratafabiano commented on #56
le mie modifiche facevano si che si potesse entrare nella pagina dei filtri, prima non ci riuscivo

[2020-03-22 17:46] ammiratafabiano commented on #56
ok ci sono riuscito per fare funzionare la mia parte, mi da però un errore all'avvio dell'app:
ERROR TypeError: Cannot read property 'uid' of undefined

[2020-03-22 17:46] ammiratafabiano commented on #56
c'era già? non fa caricare la mappa (se è questo quello che volevi fare all'avvio)

[2020-03-22 17:46] calca commented on #56
no, non credo. @citerad qualche idea ? (il pezzo sopra non fa parte delle mie modifiche)

[2020-03-22 17:54] ammiratafabiano commented on #56
mmmh non lo fa più.. vabbè ricordiamocene in caso di sto user undefined nel profile.service

[2020-03-22 17:57] ammiratafabiano commented on #56
comunque ho fatto PR, stanotte o domani finisco il resto

[2020-03-23 13:32] alfredarcifa commented on #26
Materiale utile:

![Banner4](https://user-images.githubusercontent.com/1813054/77321835-11e13700-6d13-11ea-9780-874ecf470bb8.png)
![Banner3](https://user-images.githubusercontent.com/1813054/77321837-1279cd80-6d13-11ea-9e4a-95374bdc3142.png)
![Banner2](https://user-images.githubusercontent.com/1813054/77321838-13126400-6d13-11ea-837e-23621ab60051.png)
![Banner1](https://user-images.githubuserconte

[2020-03-23 17:57] alfredarcifa commented on #72
[assets_profile.zip](https://github.com/okja-team/okja/files/4371099/assets_profile.zip)

[2020-03-24 08:01] alfredarcifa commented on #56
update assets
[ico_phone_info.zip](https://github.com/okja-team/okja/files/4373887/ico_phone_info.zip)

[2020-03-24 19:04] ammiratafabiano commented on #56
![localhost_8100_home_tabs_list(iPhone X)](https://user-images.githubusercontent.com/36988217/77466419-8945c200-6e0a-11ea-82b0-3d4a94a87b19.png)
![localhost_8100_home_tabs_list(iPhone X) (2)](https://user-images.githubusercontent.com/36988217/77467271-fc9c0380-6e0b-11ea-94e9-c4f87d7ec0ad.png)

ho fatto delle migliorie grafiche (per esempio l'arrotondamento che mi dicevi @calca o qualche allineamen

[2020-03-24 19:15] ammiratafabiano commented on #56
ho fatto la PR

[2020-03-26 23:19] calca commented on #72
![localhost_8101_home_tabs_map(iPhone X) (2)](https://user-images.githubusercontent.com/78342/77705680-9c9a8e00-6fc0-11ea-859a-52ed4bf90da3.png)
![localhost_8101_home_tabs_map(iPhone X) (1)](https://user-images.githubusercontent.com/78342/77705683-9f957e80-6fc0-11ea-8dcb-fff230bbb2f3.png)

[2020-03-27 19:47] #56 closed, assigned to ammiratafabiano, gianlu92

[2020-03-27 19:50] calca opened #84 "Profile Page"
Profile page & setting (tab 3)

![profile-page](https://user-images.githubusercontent.com/78342/77794615-81855800-706c-11ea-8ccf-5e25e3bac1db.png)
![profile-page](https://user-images.githubusercontent.com/78342/77794596-7af6e080-706c-11ea-998f-1797136fba35.png)

https://app.zeplin.io/project/5a9952a108be6be7459e7420/screen/5e78a6e0e7ee0b6d22ac1629

[2020-03-28 15:21] calca opened #86 "[UI] Position Picker"
Update UI for location Picker @Alfr3d

[2020-03-28 15:22] #55 closed, assigned to nobody

[2020-03-28 15:34] #72 closed, assigned to calca, gaiamerico, il-picchio, gianlu92

[2020-03-28 15:35] #51 closed, assigned to ammiratafabiano

[2020-03-28 15:35] #33 closed

[2020-03-28 15:36] #48 closed, assigned to nobody

[2020-03-28 15:37] #32 closed

[2020-03-28 15:37] #24 closed

[2020-03-29 10:19] #9 closed

[2020-03-29 10:21] calca opened #89 "Settings UI"
UI for settings (3 tabs)

![profile-page](https://user-images.githubusercontent.com/78342/77846633-b3ef9c00-71b7-11ea-84ba-172320137086.png)

[2020-03-29 11:04] #86 closed, assigned to calca

[2020-03-29 15:13] #89 closed, assigned to calca

[2020-03-29 15:19] #54 closed, assigned to gianlu92

[2020-03-29 18:47] gaiamerico opened #92 "delete position when delete profile"

[2020-03-30 07:29] #73 closed, assigned to calca, citerad, falconeta, gaiamerico

[2020-04-12 10:05] #6 closed

[2020-04-12 10:06] calca commented on #65
@Alfr3d it's possible to create a UI for this feature?

[2020-04-12 10:08] calca opened #96 "Privacy & GDPR Page"
- Add Page for Privacy
- Add Page for GDPR

[2020-04-12 10:09] calca opened #97 "About Page"
Create a page with a Project info & description

[2020-04-12 10:09] calca commented on #97
@Alfr3d can you create the UI for this page?

[2020-04-12 10:18] #47 closed, assigned to nobody

[2020-04-13 07:37] calca opened #101 "Welcome Message"
Show welcome message for unregistered user

[2020-04-13 08:37] #101 closed, assigned to calca

[2020-04-13 10:35] #70 closed, assigned to ammiratafabiano, gaiamerico, il-picchio

[2020-04-14 13:19] calca opened #105 "Verified Volunteer"
- Show Badge for Verified Volunteer
- Add 'admin' role to verify volunteer for associations / organizations

**UI**
- https://app.zeplin.io/project/5a9952a108be6be7459e7420/screen/5e73b9efe0b955ba22a2f264
- https://app.zeplin.io/project/5a9952a108be6be7459e7420/screen/5e73b9efe0b955ba22a2f264

[2020-04-16 07:32] alfredarcifa commented on #97
@calca ok.

[2020-04-17 12:57] enginer opened #106 "Russian translation"
Add a Russian translation

[2020-04-17 13:23] enginer opened #107 "English as a default language"

[2020-04-17 15:31] #106 closed, assigned to enginer

[2020-04-17 15:32] #107 closed, assigned to nobody

[2020-04-19 04:36] enginer commented on #84
UI mostly complete in this [branch](https://github.com/enginer/okja/tree/profile)

Questions:
- if the data editable, what the best way to do validation/save/cancel scenario?
- where is store `email, birthday, availability, distance` (Profile does not have such fields)?
- how to store `city / state / ZIP` we have the only city in Profile?
- do we need inputs for next profile fields `nation, skypeI

[2020-04-19 10:45] citerad commented on #84
Hi @enginer !

- To validate the data, we can choose the most appropriate mechanism for us.
- The profile does not have all the fields. They can be added, but must also be added accordingly in the On-Boarding profile ([link](https://github.com/okja-team/okja/issues/72#issue-585689182)).
- The address is now set via the user's position but the fields can still be added to allow a manual modificatio

[2020-04-19 14:55] alfredarcifa commented on #97
Copy text:

Copyright 2020 - I for You
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom t

[2020-04-19 14:55] alfredarcifa commented on #97
Description. text:

I for you is an application that allows you to get in touch quickly and easily with people who can offer practical support, in this moment of emergence, to those who need it most, who are in difficulty or who are alone .

[2020-04-19 15:46] alfredarcifa commented on #97
[about_ico.zip](https://github.com/okja-team/okja/files/4499594/about_ico.zip)
![Mobile - Page - About](https://user-images.githubusercontent.com/1813054/79692490-b482cc00-8265-11ea-812a-c6015469ff97.png)